/HelloWorld/HelloWorld/obj
/HelloWorld/HelloWorld/bin
/AdaptiveUI/AdaptiveUI/bin/x86/Debug
/AdaptiveUI/AdaptiveUI/obj/x86/Debug
/AdaptiveUI/AdaptiveUI/obj/ARM/Debug
/AdaptiveControl/AdaptiveControl/obj
/AdaptiveControl/AdaptiveControl/bin
/AdaptiveControl/.vs
/Extensions/Extensions/obj
/Extensions/Extensions/bin
/Extensions/.vs
*.suo
/Specific/.vs
/Specific/Specific/obj
/Specific/Specific/bin
